.colors {
  color: #025259;
  color: rgba(2, 82, 89, 1);

  color: #007172;
  color: rgba(0, 113, 114, 1);

  color: #f29325;
  color: rgba(242, 147, 37, 1);

  color: #d94f04;
  color: rgba(217, 79, 4, 1);

  color: #f4e2de;
  color: rgba(244, 226, 222, 1);
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem !important;
  color: #444;
}
a {
  color: #007172;
}
.no-underline {
  text-decoration: none;
}
a.no-underline:hover {
  text-decoration: underline;
}
.ff-slab {
  font-family: "Roboto Slab", sans-serif;
}
.uppercase {
  text-transform: uppercase;
}
.br-default {
  border-radius: 1.4rem;
}
.bg-light {
  background-color: rgba(244, 226, 222, 0.5) !important;
  /* background-color: rgba(0, 113, 114, 0.2) !important; */
}
.bg-grey {
  background-color: rgba(244, 226, 222, 0.1) !important;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1.2rem;
}
.btn-primary {
  background-color: #007172;
  border-color: #007172;
}
.btn-primary:hover {
  background-color: #025259;
  border-color: #025259;
}
.btn-secondary {
  background-color: #d94f04;
  border-color: #d94f04;
}
.btn-secondary:hover {
  background-color: #f29325;
  border-color: #f29325;
}
a.card-link {
  text-decoration: none;
  background: #fff;
  display: block;
  border-radius: 2rem;
  padding: 1.6rem;
  border: 1px solid rgba(0, 113, 114, 0.2);
  transition: all 0.2s linear;
  margin-bottom: 2rem;
}
a.card-link:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}
a.card-link img {
  height: 240px;
  aspect-ratio: 16/9;
  object-fit: cover;
}
a.card-link h3 {
  font-weight: bold;
}
a.card-link p {
  color: #444;
}
.logo {
  height: 6rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  margin-left: 1rem;
}
#hero {
  background-image: url("../images/elder-care-bg6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.4rem;
}
#hero-content {
  height: 540px;
}
.hero-title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
  font-weight: bold;
  color: #fff;
}
.hero-text {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}
.dropdown-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.dropdown-item:active,
.dropdown-item:focus {
  background-color: #007172;
}
